/*Styles for Royal-Rangers user-page - "Top navigation bar"*/
/*Author: Vasily Dikun*/
/*Aliases: "up" - user page; "uptnb" - user page top navbar;*/

//small mixin to add placeholder styles
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

//Variables
$uptnb-font-family: 'Yanone Kaffeesatz', sans-serif; //font to all top navbar
$uptnb-font-size: 24px; //font size to text in top navbar
$uptnb-font-color: #000; //font color

/*Top navigation bar*/
.up-top-navbar {
  font-family: $uptnb-font-family;
  text-transform: none;
  &__logo {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
  }
  &__search {
    float: none;
    margin: 0 auto;
    width: 200px;
  }
  &__user-section {
    float: right;
    margin: 0;
    height: 60px;
  }
  &__avatar {
    float: left;
    margin: 4px 10px 4px 0;
    height: 52px;
  }
  &__logout {
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    height: 60px;
  }
}

/*Styles to simple text captions*/
.up-caption {
  font-size: $uptnb-font-size;
  color: $uptnb-font-color;
  vertical-align: middle;
  &_bold {
    font-weight: 800;
  }
  //support styles to font awesome icons
  & .fa {
    margin-right: 6px;
  }
  &:focus {
    color: $uptnb-font-color;
  }
}

/*Styles to search input form*/
.up-search-form {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-top: 4px;
  border: medium none;
  width: 200px;
  height: 60px;
  margin: 0;
  outline: none;
  z-index: 2000;
  color: $uptnb-font-color;
  font-size: $uptnb-font-size;
  @include placeholder {
    text-transform: none;
    font-size: $uptnb-font-size;
  }
}

/*Styles to images*/
.up-img {
  height: 100%;
  width: auto;
  &_style_circle {
    border-radius: 50%;
    vertical-align: middle;
  }
}